<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="logo-box">
    <img src="/static/logo.png" class="logo">
    <h2>AI Study Assistant</h2>
</div>

<div class="auth-container">

    <div class="auth-box">

        <h2>🔐 Login</h2>

        <form method="POST">

            <input name="username" placeholder="Username" required>
            <input name="password" type="password" placeholder="Password" required>

            <button type="submit">Login</button>

        </form>

        <p>
            Don't have an account?
            <a href="/register">Register</a>
        </p>

    </div>

</div>

</body>
</html>